/StaticProxy.class
/BubbleSort.class
/Singleton.class
/Sort.class
/Sorter.class
/StaticBubbleProxy.class
/DynamicProxy.class
/Factory.class
/Observerable.class
/Observer.class
/WechatServer.class
/User.class
/Test.class
